<div class="container mt-3">
  
  <form (ngSubmit) ='searchRepo()' #repoForm='ngForm'>

    
    <div class="formgroup">
        <input class="form-control me-2" type="search" name="search" ngModel #search='ngModel'placeholder="Enter Github Username to search Repos..." aria-label="Search" required><br>
        
         <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
            <p>Github User Name  is required</p>
          </div>
         
    </div>
    <button class="btn btn-outline-success" id="submit" type="submit">Search</button>
   
  </form>
  <div class="container"  >
    <div class="row">
      <div class="col-md-12">
        <div class="card card-repo-mt3"  *ngFor ="let repos of repoDeets" id="cardrepo" appColors>
                    
          <div class="card-body text-center" >
            <h5 class="card-title heading"> {{ repos.name}} </h5>
            <p class="card-text mt-1">{{ repos.description}}</p>
          </div>
          <div class="card-body text-center">
            <p class="card-text"><strong>Created on: <span class="badge rounded-pill bg-warning text-dark">{{
                  repos.created_at | date }}</span></strong> </p>
            <a href="{{ repos.html_url }}" target="_blank" class="card-link color-primary">View repository <i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
       
    </div>
    
</div>
<div class="row homepage" *ngIf="!showDeets && GithubUserNotFound">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-4">
    <div class="card">
      <div class="alert alert-danger" role="alert">Github user was not found! Please type a valid Github User Name</div>
    </div>
  </div>
</div>
<app-footer></app-footer>

</div>