<form (ngSubmit) ='searchUser()' #userForm='ngForm'>

    
    <div class="formgroup">
        <input class="form-control me-2" type="search" name="search" ngModel #search='ngModel'placeholder="Enter Github UserName..." aria-label="Search" required><br>
        
         <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
            <p>Github UserName is required</p>
          </div>
         
    </div>
    <button class="btn btn-outline-success" id="submit" type="submit">Search</button>
   
  </form>
  
  <div class="container" >
    <div class="row" appColors>
        <div class="col-md-4"></div>
        
        <div class="col-md-4" id ="usercard"*ngIf="showDeets">
            <div class="card mt-3" style="width: 22rem">
                <img [src]="userDeets?.avatar_url" class="card-img-top" alt="My profile picture">
                <div class="card-body text-center">
                  <h4 class="card-text" ><b>{{ userDeets?.name }} </b></h4>
                  <p ><b>{{ userDeets?.login }}</b></p>
                  <p ><b>{{ userDeets?.bio }}</b></p>
                  <p><b>{{ userDeets?.location }}</b></p>
                  
                  <div class="d-flex justify-content-evenly">
                    <div>
                      <p> <i class="fa fa-user"></i> {{ userDeets?.followers }} followers</p>
                    </div>
                    <div>
                      <p> <i class="fa fa-user"></i> {{ userDeets?.following }} followers</p>
                    </div>
                    </div>
                </div>
             </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="row homepage" *ngIf="!showDeets && GithubUserNotFound">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <div class="alert alert-danger" role="alert">Github user was not found! Please type a valid Github User Name</div>
          </div>
        </div>
      </div>
  
      <app-footer></app-footer>
</div>